<nav class="navbar-navbar-light">
    <div class="container">
        <a routerLink="/" class="navbar-brand">ng6-medium</a>
      <ul *appShowAuthed="false" class="nav navbar-nav pull-xs-right"> 
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/login"
             routerLinkActive="active">
             Sign In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/register"
             routerLinkActive="active">
             Sign Up
          </a>
        </li>
      </ul>
    </div>
</nav>